@mixin flexCenter {
  display: flex;

  justify-content: center;
  align-items: center;
}

@mixin inputBtn {
  border-radius: 20px;
  border-style: none;
  letter-spacing: 2px;
  text-align: center;
  outline: none;
  margin: 0px 20px;
  box-shadow: 0 2px 1px 0 #a3a3a0;
}
