@use "../styles/mixin" as m;
@use "../styles/variables.scss" as v;
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @include m.flexCenter;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background: rgb(69, 98, 252);
  background: linear-gradient(
    180deg,
    rgba(69, 98, 252, 1) 0%,
    rgba(69, 251, 251, 1) 100%
  );
}
.landing-container {
  @include m.flexCenter;
  flex-direction: column;
  text-align: center;
}
.weather-container {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  max-width: 600px;
  height: 400px;
  .date {
    font-size: 50px;
    color: v.$main-color;
    font-weight: 400;
  }
  .place {
    font-size: 60px;
    color: v.$main-color;
    font-weight: 400;
  }
}
.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 20px;
  .wind,
  .humidity {
    color: v.$main-color;
    font-size: 24px;
    font-weight: 400;
    margin: 0;
  }
}

.landing-icon {
  width: 100%;
  max-width: 300px;
}
.input-btn-container {
  @include m.flexCenter;
  height: 120px;
  flex-direction: row;
  background-color: #fcffe7c0;
  border-radius: 30px;
}
.input-box {
  @include m.inputBtn;
  width: 100%;
  max-width: 300px;
  height: 70px;
  background-color: v.$secondary-color;
  font-size: 25px;
  color: v.$main-color;
}
::placeholder {
  color: v.$main-color;
  letter-spacing: 2px;
}

h1 {
  font-size: 70px;
  text-align: center;
  color: v.$main-color;
  letter-spacing: 2px;
  margin: 10px 0px 0px;
  font-weight: 300;
}
h2 {
  color: v.$secondary-color;
  font-size: 60px;
  letter-spacing: 2px;
  margin: 0;
  font-weight: 300;
}
.fa-magnifying-glass {
  width: 100px;
  height: 60px;
  background-color: v.$secondary-color;
  color: v.$main-color;
  @include m.inputBtn;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.fa-magnifying-glass:hover {
  background-color: #c3a304;
}

/*error message*/
.error-container {
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-items: center;
  background-color: rgb(84, 103, 116, 0.8);
  padding: 20px;
  border-radius: 30px;
  margin-top: 20px;

  h4 {
    font-size: 20px;
    color: v.$main-color;
    letter-spacing: 2px;
    width: 100%;
    max-width: 320px;
    padding: 0 20px;
  }
}

/*Weekly weather*/
// .weekly-container {
//   display: none;
//   justify-content: center;
//   align-items: center;
//   flex-direction: row;
//   gap: 100px;
//   width: 100%;
//   max-width: 1300px;
//   height: 150px;
//   margin-top: 20px;
//   background-color: rgba(249, 255, 242, 0.4);
.weekly-container {
  display: none;
  grid-auto-flow: column;
  gap: var(--size-3);
  overflow-x: auto;
  width: 100%;
  max-width: 1300px;
  overscroll-behavior-inline: contain;
  background-color: rgba(249, 255, 242, 0.4);

  .weekly-date {
    text-align: center;
    color: v.$main-color;
    font-size: 22px;
  }
  .weekly-img {
    width: 130px;
  }
}
/*Using these codes in JavaScript */
.hide {
  display: none;
}
.input-container {
  width: 100%;
  max-width: 400px;
  height: 80px;
  position: absolute;
  top: 30px;
  right: 60px;
}
.input-box2 {
  max-width: 300px;
  height: 50px;
  font-size: 20px;
}
.search-btn2 {
  width: 80px;
  height: 50px;
}
h3 {
  font-size: 30px;
  color: v.$main-color;
  font-weight: 400;
  margin: 0px;
}

//Responsive design
@media (max-width: 1400px) {
  .weekly-container {
    max-width: 900px;
    gap: 20px;
  }
}
@media (max-width: 1200px) {
  body {
    height: 102vh;
  }
  .input-container {
    right: 0;
    top: 0;
    position: relative;
  }
  h3 {
    font-size: 25px;
  }
}
@media (max-width: 900px) {
  .weekly-container {
    overflow-x: auto;
    overscroll-behavior-inline: contain;
  }
  .error-container {
    h4 {
      max-width: 220px;
      font-size: 18px;
    }
    .error-img {
      width: 250px;
    }
  }
}
@media (max-width: 600px) {
  //Landing section
  .landing-container {
    .landing-icon {
      width: 200px;
    }
    .input-btn-container {
      height: 80px;
    }
    .input-box {
      max-width: 220px;
      height: 50px;
      font-size: 20px;
    }
    .fa-magnifying-glass {
      height: 50px;
      width: 70px;
    }
    h1 {
      font-size: 55px;
    }
    h2 {
      font-size: 45px;
    }
  }
  //Main section
  .input-container {
    .input-box2 {
      width: 200px;
      font-size: 18px;
    }
    .search-btn2 {
      max-width: 80px;
    }
  }
  .weather-container {
    max-width: 400px;

    .date {
      font-size: 30px;
    }
    .place {
      font-size: 40px;
    }
  }
  .main-container {
    .description,
    .temp {
      font-size: 25px;
    }
    .wind,
    .humidity {
      font-size: 18px;
    }
  }
  //weekly section
  .weekly-container {
    .weekly-date {
      font-size: 18px;
    }
    .weekly-img {
      width: 100px;
    }
  }
  //error section
  .error-container {
    flex-direction: column;
    h4 {
      max-width: 220px;
      font-size: 16px;
    }
    .error-img {
      width: 220px;
    }
  }
}
@media (max-width: 400px) {
  //Landing section
  .landing-container {
    .landing-icon {
      width: 150px;
    }
    .input-btn-container {
      height: 60px;
    }
    .input-box {
      max-width: 200px;
      height: 40px;
      font-size: 17px;
      margin: 0 8px;
    }
    .fa-magnifying-glass {
      height: 40px;
      margin: 0 8px;
    }
    h1 {
      font-size: 50px;
    }
    h2 {
      font-size: 40px;
    }
  }
  .input-container {
    height: 70px;
    .input-box2 {
      width: 165px;
      font-size: 14px;
      height: 45px;
    }
    .search-btn2 {
      max-width: 60px;
      height: 45px;
    }
  }
  .weather-container {
    max-width: 300px;

    .date {
      font-size: 20px;
    }
    .place {
      font-size: 30px;
    }
  }
  .main-container {
    .weather-img {
      width: 150px;
    }
    .description,
    .temp {
      font-size: 18px;
    }
    .wind,
    .humidity {
      font-size: 16px;
    }
  }
  .weekly-container {
    .weekly-date {
      font-size: 16px;
    }
    .weekly-img {
      width: 80px;
    }
  }
  .error-container {
    h4 {
      max-width: 200px;
    }
    .error-img {
      width: 200px;
    }
  }
}
